# Database Configuration
# These settings are used to connect to your MySQL database.

DB_HOST="yourhost.mysql.tools"
DB_PORT="3306"
DB_NAME="yourdbname"
DB_USER="yourdbuser"
DB_PASSWORD="yourdbpassword"
DB_CHARSET="utf8mb4"

# Application Environment
# Set to 'development' to show detailed errors, or 'production' to hide them.
APP_ENV="development"
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://yourdomain

# Mapbox API Configuration
MAPBOX_ACCESS_TOKEN="..." 

JWT_SECRET=
SUPABASE_JWT_SECRET=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=