# Database Configuration
# These settings are used to connect to your MySQL database.

DB_HOST="yourhost.mysql.tools"
DB_PORT="3306"
DB_NAME="yourdbname"
DB_USER="yourdbuser"
DB_PASSWORD="yourdbpassword"
DB_CHARSET="utf8mb4"

# Application Environment
# Set to 'development' to show detailed errors, or 'production' to hide them.
APP_ENV="development"
ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://yourdomain

# Mapbox API Configuration
MAPBOX_ACCESS_TOKEN="..." 

# JWT Configuration
JWT_SECRET=

# Webhook Configuration
# Used for authenticating requests between services
WEBHOOK_SECRET=

# Offers Server Configuration
OFFERS_SERVER_URL=https://offers.connex.team
# This should match the WEBHOOK_SECRET in the offers-server .env file
OFFERS_WEBHOOK_SECRET=